
aside {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
}
aside a {
  text-decoration: none;
  transition: color 0.25s;
}
aside .logo {
  display: inline-block;
  position: relative;
  z-index: 900;
  width: 118px;
  height: 78px;
}
aside .util-wrapper {
  display: inline-block;
  position: relative;
  float: right;
  padding-right: 55px;
}
aside .menu-link {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 900;
  width: 55px;
  height: 55px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #474747;
  text-indent: 100%;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  transition: border-color 1s ease;
}
aside .login {
  display: inline-block;
  margin: 1.1em 2em 0 0;
  color: #fff;
  vertical-align: top;
}
aside .login:hover {
  color: #ff8e00;
}
aside .login:active {
  color: #e35f00;
}
aside img {
  width: 100%;
}

aside .main-nav {
  width: 635px;
  margin-left: 110px;
  text-align: right;
}
aside nav {
  font-size: 46px;
}
aside nav a {
  display: block;
  margin: 0.5em 0;
  color: #ff8e00;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
aside nav a:hover {
  color: #ffb85f;
}
aside .utility-links a {
  display: inline-block;
  margin: 0 15px;
  color: #fff;
}
aside .utility-links a:hover {
  color: #ff8e00;
}
aside .menu-wrapper {
  position: fixed;
  top: 20px;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}
aside .menu-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 50%;
  background-color: #000;
}
aside .menu-modal nav {
  margin-top: 2em;
  border-top: 1px solid #fff;
}
aside .modal-mask {
  position: absolute;
  top: 5px;
  right: 25px;
  z-index: 800;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s all ease;
}
aside .modal-mask.active {
  top: -580px;
  right: -310px;
  width: 1200px;
  height: 1200px;
}
aside .modal-mask.active .nav-wrapper {
  opacity: 1;
}
aside .nav-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  opacity: 0;
  width: 95%;
  margin: 0 auto;
  transition: 0.25s all ease;
  transition-delay: 0.3s;
}
aside .language-downdown {
  display: inline-block;
  position: relative;
}
aside .language-dropdown-toggle {
  cursor: pointer;
}
aside .language-dropdown-list {
  position: absolute;
  top: -7px;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  width: 114px;
  margin: 0 0 0 -57px;
  padding: 3px 20px;
  background-color: #fff;
  font-size: 14px;
  text-align: center;
  list-style-type: none;
  transition: opacity 0.25s ease;
}
aside .language-dropdown-list.open {
  display: inline-block;
  opacity: 1;
  visibility: visible;
}
aside .language-dropdown-list a {
  display: block;
  margin: 0.5em 0;
  color: #666;
}
aside .language-dropdown-list a.selected {
  color: #ff8e00;
  font-weight: 700;
}
aside .language-dropdown-list a.selected:hover {
  text-decoration: none;
  cursor: default;
}
aside .language-dropdown-list a:hover {
  color: #ff8e00;
}

body.overlay {
  position: relative;
}
body.overlay:before {
  z-index: 800;
  opacity: 1;
  transition: 0.5s opacity ease;
}
body:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.menu-icon:before, .menu-icon:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  left: 0;
  transform-origin: left center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.menu-icon, .menu-icon:before, .menu-icon:after {
  width: 31px;
  height: 4px;
  border-radius: 2px;
  background-color: #3d3d3d;
  transition: 0.25s all ease;
}
.menu-icon:before {
  top: -10px;
}
.menu-icon:after {
  bottom: -10px;
}
.close .menu-icon:before {
  top: -11px;
  left: 4px;
  transform: rotate(45deg);
}
.close .menu-icon, .close .menu-icon:before, .close .menu-icon:after {
  transition: 0.25s all ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.close .menu-icon {
  background-color: rgba(0, 0, 0, 0);
}
.close .menu-icon:after {
  top: 11px;
  left: 4px;
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  header .main-nav nav {
    font-size: 32px;
  }
  header .modal-mask,
header .modal-mask.active {
    right: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  header .modal-mask {
    top: -700px;
    border-radius: 0;
    transition: top 0.25s ease;
  }
  header .modal-mask.active {
    top: -25px;
  }
  header .nav-wrapper,
header .menu-modal {
    position: static;
  }
  header .menu-modal {
    padding: 8em 2em 4em;
  }
  header .menu-modal nav {
    margin-top: 1em;
  }
  header .main-nav {
    width: auto;
    margin-left: 0;
  }
}